<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
</head>
<body>
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>

  {% for item in nav.nav %}
    <a>{{ item }}</a>
  {% endfor %}


  {% for branch in branches %}
    {{ branch.name }}
    {% for person in branch.staff %}
      - {{ person.name }}
        {{ person.branch.name }}
      {% for article in person.articles %}
        -- {{ article.title }}
        -- {{ article.description }}
        -- {{ article.content }}
      {% endfor %}
    {% endfor %}
  {% endfor %}

  {{content }}
</body>
</html>